/* main */
.lookbook {
    padding : 50px 0px 0px 0px;
    /* background-color: #FBFADB; */
    background: url("../../static/img/bg/bg3.png");
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: cover;
    position: relative;
}
.lookbook::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,.3);
}

.lookbook .owl-carousel {
    position:absolute;
    z-index:1;
}

.lookbook_scroller {
    padding-top:100px;
}

.bottom {
    width: 200px;
}

.circular--square {
    border-radius: 3000px;
    justify-content: center;
    align-items: center;
}

.star_large {
    width: 350px;
    height: 350px;
}

.star_large400 {
    width: 400px;
    height: 400px;
}

.star_small {
    width: 75px;
    height: 75px;
}


@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .circular--square--large {
        border-radius: 3000px;
        width: 350px;
        height: 350px;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .circular--square--large {
        border-radius: 3000px;
        width: 350px;
        height: 350px;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (min-width: 567px) and (max-width: 767px) {
    .circular--square--large {
        border-radius: 3000px;
        width: 300px;
        height: 300px;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width: 566px) {
    .circular--square--large {
        border-radius: 3000px;
        width: 300px;
        height: 300px;
        justify-content: center;
        align-items: center;
    }
}

header {
background-color: #d9e8f3
}


.style_carousel_wrap {
    text-align: center;
    padding-top:50px;
    padding-bottom:50px;
}

.style-carousel {margin:20px 0 50px 0;}
    .style-carousel .item {margin:10px}
    .style-carousel .item img {width:250px; height:250px}
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .style-carousel {margin:20px 0 50px 0;}
    .style-carousel .item {margin:10px;}
    .style-carousel .item img {width:250px; height:250px;}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .style-carousel {margin:20px 0 50px 0;}
    .style-carousel .item {margin:10px;}
    .style-carousel .item img {width:230px; height:230px;}
}
@media only screen and (min-width: 567px) and (max-width: 767px) {
    .style-carousel {margin:20px 0 50px 0;}
    .style-carousel .item {margin:10px;}
    .style-carousel .item img {width:200px; height:200px;}
}
  
@media only screen and (max-width: 566px) {
    .style-carousel {margin:20px 0 50px 0;}
    .style-carousel .item {margin:10px;}
    .style-carousel .item img {width:150px; height:150px;}
}


/* products_list */
.products_list .default-img{border-radius: 1000px;}
.products_list .hover-img{border-radius: 1000px;}
.modal-dialog{margin: 2% auto ;}
.products_list .item {float: left; width: 30%; margin-left:10px; margin-right:10px;}
.prod_to_style {margin:50px 50px 20px 50px;}
.prod_to_style div { margin-bottom:20px;}

/* product_detail */
.product-area i {
    margin:11.05px 0 11.05px 0;
}

#selected_thumbnail {

}
.other_styles img{
    width:85px
}

.icon_heart{
    display: inline-block;
}

.icon_heart .icons {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 2.3rem 0 0;
    /*width: 1.25rem;*/
    height: 15px;
}

.icon_heart .icons i {
    position: absolute;
    top: 0;
    left: 7px;

    display: block;
}
.icon_heart .icons .icon-default {
    transition: opacity .3s, transform .3s;
}

.icon_heart .icons .icon-hover {
    transition: opacity .3s, transform .3s;
    transform: rotate(-180deg) scale(.5);
    opacity: 0;
}

.icon_heart .icons:hover .icon-hover {
    transform: rotate(0deg) scale(1);
    opacity: 1;
}
.icon_heart .icons:hover .icon-default {
    transform: rotate(180deg) scale(.5);
    opacity: 0;
}


/* template */


.products_wrap {
    text-align: center;
    padding:50px 0 50px 0;
}

.options {
    text-align: right;
}

.star {
    max-width: 820px;
    margin: 0 auto;
    text-align: center;
}

.star__title {
    font-size: 32px;
    font-weight: 600;
    line-height: 1.25;
    margin-bottom: 18px;
    text-align: center;
}

.star__description {
    font-size: 16px;
    font-weight: 300;
    color: #767676;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 10px !important;
}

.recommendation {
    margin: 0 auto;
    text-align: center;
    background: #78D2DC;
    padding-top: 75px;
    padding-bottom: 55px;
}

.recommendation__title {
    font-size: 32px;
    font-weight: 600;
    line-height: 1.25;
    margin-bottom: 18px;
    text-align: center;
}

.recommendation__description {
    font-size: 16px;
    font-weight: 300;
    color: #767676;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 10px !important;
}

.store {
    margin: 0 auto;
    text-align: center;
    background: #fff;
    padding-top: 75px;
    padding-bottom: 75px;
}

.store__title {
    font-size: 32px;
    font-weight: 600;
    line-height: 1.25;
    margin-bottom: 18px;
    text-align: center;
}

.store__description {
    font-size: 16px;
    font-weight: 300;
    color: #767676;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 10px !important;
}


.section {
    position: relative;
  }



/* Common */
.body__container {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #333333;
}

a {
    text-decoration: none;
}

/* FLOAT CLEARFIX */
.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

.float--left {
    float: left;
}

.float--right {
    float: right;
}

.invisibilty {
    visibility: hidden;
}

.summary {
}

.summary__title {
    font-size: 38px;
    font-weight: 300;
    line-height: 1.25;
    margin-bottom: 18px;
}

.summary__description {
    font-size: 26px;
    font-weight: 300;
    color: #767676;
    line-height: 1.5;
}


.icons {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 2.3rem 0 0;
    /*width: 1.25rem;*/
    height: 15px;
}

.icons i {
    position: absolute;
    top: 0px;
    left: -2px;

    display: block;
}
.icons .icon-default {
    transition: opacity .3s, transform .3s;
}

.icons .icon-hover {
    transition: opacity .3s, transform .3s;
    transform: rotate(-180deg) scale(.5);
    opacity: 0;
}


.icons:hover .icon-hover {
    transform: rotate(0deg) scale(1);
    opacity: 1;
}
.icons:hover .icon-default {
    transform: rotate(180deg) scale(.5);
    opacity: 0;
}
.inline_block {
    display: inline-block;
}
.inline_block_count {
    display: inline-block;
    font-size: 23px;
    margin-top: 18px;
}

.inline_block_tag {
    clear: both;
    display: inline-block !important;
    margin-top: 17px !important;
}