<style>
    .owl-carousel {
        position: relative;
        width: 440 !important;
        height: 440;
        margin: 50 0 100 0 ;
    }

    @media only screen and (min-width: 768px) {
        .owl-stage {
            transform: none !important;
            width: 440 !important;
        }

        .owl-carousel .owl-stage-outer {
            width: 110%;
            overflow: visible !important;
        }

        .owl-carousel .owl-item img {
            width: 200 !important;
            display: inline-grid;
            float: none;
        }
    }
</style>

{% extends "base.html" %}

{% block title %}
Test Page for User Input
{% endblock title %}

{% load static %}

{% block content %}
<div class="container">
    <div class="shop-area pb-50 row">
        <!-- 선택된 이미지 크게 -->
        <div class="selected col-sm-4 col-lg-4 sidebar-active sidebar-active-left">
            <div class="row">
                <div class="col">
                    <div id="selected_thumbnail" class="product-details">
                        <img width="300px" id="star_thumb" class="circular--square star_large" src='{% static "" %}ClientInput/{{filename}}'>
                    </div>
                </div>
                <div class="col"></div>
            </div>
            <div class="row">
                <div class="col pt-30">
                    <div class="product-details-content" style="width: 100%;text-align: center;">
                    <h2>{{filename}}</h2>
                    </div>
                </div>
            </div>
        </div>


        <div class="col"></div>
        <div class="col-lg-7 pt-50">
            <!--SECTION2: Related Products -->
            <div class="related-product-area pb-95">
                <div class="section-title text-center mb-20">
                    <h2>Related products</h2> <br>
                </div>
                <div class="product-area hm5-section-padding pt-20 pb-20">
                        <div class="row">
                            {% for d in dist %}
                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                                <div class="product-wrap-3 mb-20 scroll-zoom">
                                    <div class="product-img">
                                        <a href="#" data-toggle="modal" data-target="#exampleModal{{d.product_id}}" ><img src={{d.img_url}} alt=""></a>
                                        {% if d.discounts %}
                                        <span class="pink">-{{d.discounts}}%</span>
                                        {% endif %}
                                        <div class="product-content-3-wrap">
                                            <div class="product-content-3">
                                                <div class="product-title">
                                                    <h3><a href="{{d.product_name}}" data-toggle="modal" data-target="#exampleModal{{d.product_id}}">{{d.product_name}}</a></h3>
                                                </div>
                                                {% if d.price_discount != None%}
                                                <div class="price-3">
                                                    <span>₩ {{d.price_discount}}</span>
                                                    <span class="old">₩{{d.price_original}}</span>
                                                </div>

                                                {% else %}
                                                <div class="price-3">
                                                    <span>₩ {{d.price_original}}</span>
                                                </div>
                                                {% endif %}
                                                <div class="product-action-3 wishlist" name="{{d.product_id}}">
                                                    <a title="Add To Wishlist" href="#"><i class="fa fa-heart"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                    </div>
                </div>
            </div>
        </div>


    </div>


</div>

<!-- Modal start-->
{% for d in dist %}
<div class="modal fade" id="exampleModal{{d.product_id}}" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span>상품 상세보기</span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="tab-content quickview-big-img">
                                <div id="pro-2" class="tab-pane fade show active">
                                    <img src="{{ d.img_url }}" alt="">
                                </div>
                            </div>
                            <!-- Thumbnail Large Image End -->
                            <!-- Thumbnail Image End -->
                        </div>
                        <div class="col-md-7 col-sm-12 col-xs-12">
                            <div class="product-details-content quickview-content">
                                <h2>{{d.product_name}}</h2>
                                <div class="product-details-price">
                                    {% if d.price_discount != None%}
                                    <span>₩ {{d.price_discount}}</span>
                                    <span class="old">₩{{d.price_original}}</span>
                                    {% else %}
                                    <span>₩ {{d.price_original}}</span>
                                    {% endif %}
                                </div>
                                <div class="pro-details-quality">
                                    <div class="pro-details-cart btn-hover">
                                        <a href="{{d.product_url}}">구매하러가기</a>
                                    </div>
                                    <div class="pro-details-wishlist">
                                        <a href="#"><i class="fa fa-heart-o"></i></a>
                                    </div>
                                </div>
                                <div class="pro-details-meta">
                                    <span>Tag :</span>
                                    <ul>
                                        <li><a href="#"># Fashion </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="loading">
    <img SRC="https://img1.daumcdn.net/thumb/R1920x0/?fname=http%3A%2F%2Fcfile1.uf.tistory.com%2Fimage%2F9950163C5AFE32810A7310">
</div>
<script type="text/javascript">
    $(function(){
        $("#loading").css("visibility","hidden");
    });
</script>
{% endfor %}
<!-- Modal end -->



{% endblock %}

