{% extends 'base.html' %}

{% block content %}
<div class="login-register-area pt-30 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 ml-auto mr-auto">
                <div class="login-register-wrapper">
                    <div class="login-register-tab-list nav">
                        <h4> 이미지 업로드 </h4>
                    </div>
                    <div class="tab-content">
                        <div id="lg1" class="tab-pane active">
                            <div class="login-form-container">
                                <div class="login-register-form">
                                    <form id="style_search" method="POST" action="clientinput" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <input name="title" placeholder="SoothingNi">
                                        <input type="file" name="file1"/>
                                        <div class="button-box button-box-bold">
                                            <div class ="text-center">
                                                <button type="submit" style="font-weight: bold;"><span>Upload</span></button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}