{% extends 'base.html' %}
{% block title %}
Products List
{% endblock title %}

{% block content%}
    <div class="wrapper">
        <div class="product-area hm5-section-padding pt-100 pb-100">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="product-wrap-3 mb-20 scroll-zoom">
                            <div class="product-img">
                                <a href="product-details.html"><img src="../../static/img/product/hm5-pro-1.jpg" alt=""></a>
                                <span class="pink">-10%</span>
                                <div class="product-content-3-wrap">
                                    <div class="product-content-3">
                                        <div class="product-title">
                                            <h3><a href="product-details.html">Sheep Wool Sweater</a></h3>
                                        </div>
                                        <div class="price-3">
                                            <span>$ 40.00</span>
                                            <span class="old">$ 50.00</span>
                                        </div>
                                        <div class="product-action-3">
                                            <a title="Add To Cart" href="#"><i class="fa fa-shopping-cart"></i></a>
                                            <a title="Quick View" href="#" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-eye"></i></a>
                                            <a title="Compare" href="#"><i class="fa fa-retweet"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="product-wrap-3 mb-20 scroll-zoom">
                            <div class="product-img">
                                <a href="product-details.html"><img src="../../static/img/product/hm5-pro-2.jpg" alt=""></a>
                                <div class="product-content-3-wrap">
                                    <div class="product-content-3">
                                        <div class="product-title">
                                            <h3><a href="product-details.html">Gray Backpack</a></h3>
                                        </div>
                                        <div class="price-3">
                                            <span>$ 40.00</span>
                                        </div>
                                        <div class="product-action-3">
                                            <a title="Add To Cart" href="#"><i class="fa fa-shopping-cart"></i></a>
                                            <a title="Quick View" href="#" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-eye"></i></a>
                                            <a title="Compare" href="#"><i class="fa fa-retweet"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="product-wrap-3 mb-20 scroll-zoom">
                            <div class="product-img">
                                <a href="product-details.html"><img src="../../static/img/product/hm5-pro-3.jpg" alt=""></a>
                                <span class="purple">New</span>
                                <div class="product-content-3-wrap">
                                    <div class="product-content-3">
                                        <div class="product-title">
                                            <h3><a href="product-details.html">Waist Belt</a></h3>
                                        </div>
                                        <div class="price-3">
                                            <span>$ 40.00</span>
                                        </div>
                                        <div class="product-action-3">
                                            <a title="Add To Cart" href="#"><i class="fa fa-shopping-cart"></i></a>
                                            <a title="Quick View" href="#" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-eye"></i></a>
                                            <a title="Compare" href="#"><i class="fa fa-retweet"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="product-wrap-3 mb-20 scroll-zoom">
                            <div class="product-img">
                                <a href="product-details.html"><img src="../../static/img/product/hm5-pro-4.jpg" alt=""></a>
                                <div class="product-content-3-wrap">
                                    <div class="product-content-3">
                                        <div class="product-title">
                                            <h3><a href="product-details.html">Timex Watch</a></h3>
                                        </div>
                                        <div class="price-3">
                                            <span>$ 40.00</span>
                                        </div>
                                        <div class="product-action-3">
                                            <a title="Add To Cart" href="#"><i class="fa fa-shopping-cart"></i></a>
                                            <a title="Quick View" href="#" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-eye"></i></a>
                                            <a title="Compare" href="#"><i class="fa fa-retweet"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="product-wrap-3 mb-20 scroll-zoom">
                            <div class="product-img">
                                <a href="product-details.html"><img src="../../static/img/product/hm5-pro-5.jpg" alt=""></a>
                                <div class="product-content-3-wrap">
                                    <div class="product-content-3">
                                        <div class="product-title">
                                            <h3><a href="product-details.html">Puma Shoes For Men</a></h3>
                                        </div>
                                        <div class="price-3">
                                            <span>$ 40.00</span>
                                        </div>
                                        <div class="product-action-3">
                                            <a title="Add To Cart" href="#"><i class="fa fa-shopping-cart"></i></a>
                                            <a title="Quick View" href="#" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-eye"></i></a>
                                            <a title="Compare" href="#"><i class="fa fa-retweet"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="product-wrap-3 mb-20 scroll-zoom">
                            <div class="product-img">
                                <a href="product-details.html"><img src="../../static/img/product/hm5-pro-6.jpg" alt=""></a>
                                <span class="purple">-20%</span>
                                <div class="product-content-3-wrap">
                                    <div class="product-content-3">
                                        <div class="product-title">
                                            <h3><a href="product-details.html">Jeans For Men</a></h3>
                                        </div>
                                        <div class="price-3">
                                            <span>$ 40.00</span>
                                            <span class="old">$ 50.00</span>
                                        </div>
                                        <div class="product-action-3">
                                            <a title="Add To Cart" href="#"><i class="fa fa-shopping-cart"></i></a>
                                            <a title="Quick View" href="#" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-eye"></i></a>
                                            <a title="Compare" href="#"><i class="fa fa-retweet"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="product-wrap-3 mb-20 scroll-zoom">
                            <div class="product-img">
                                <a href="product-details.html"><img src="../../static/img/product/hm5-pro-7.jpg" alt=""></a>
                                <div class="product-content-3-wrap">
                                    <div class="product-content-3">
                                        <div class="product-title">
                                            <h3><a href="product-details.html">Wireless Headphone</a></h3>
                                        </div>
                                        <div class="price-3">
                                            <span>$ 40.00</span>
                                        </div>
                                        <div class="product-action-3">
                                            <a title="Add To Cart" href="#"><i class="fa fa-shopping-cart"></i></a>
                                            <a title="Quick View" href="#" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-eye"></i></a>
                                            <a title="Compare" href="#"><i class="fa fa-retweet"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="product-wrap-3 mb-20 scroll-zoom">
                            <div class="product-img">
                                <a href="product-details.html"><img src="../../static/img/product/hm5-pro-8.jpg" alt=""></a>
                                <span class="purple">New</span>
                                <div class="product-content-3-wrap">
                                    <div class="product-content-3">
                                        <div class="product-title">
                                            <h3><a href="product-details.html">Sports Shoes</a></h3>
                                        </div>
                                        <div class="price-3">
                                            <span>$ 40.00</span>
                                        </div>
                                        <div class="product-action-3">
                                            <a title="Add To Cart" href="#"><i class="fa fa-shopping-cart"></i></a>
                                            <a title="Quick View" href="#" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-eye"></i></a>
                                            <a title="Compare" href="#"><i class="fa fa-retweet"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="product-wrap-3 mb-20 scroll-zoom">
                            <div class="product-img">
                                <a href="product-details.html"><img src="../../static/img/product/hm5-pro-9.jpg" alt=""></a>
                                <div class="product-content-3-wrap">
                                    <div class="product-content-3">
                                        <div class="product-title">
                                            <h3><a href="product-details.html">Optical Instrument</a></h3>
                                        </div>
                                        <div class="price-3">
                                            <span>$ 40.00</span>
                                        </div>
                                        <div class="product-action-3">
                                            <a title="Add To Cart" href="#"><i class="fa fa-shopping-cart"></i></a>
                                            <a title="Quick View" href="#" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-eye"></i></a>
                                            <a title="Compare" href="#"><i class="fa fa-retweet"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="product-wrap-3 mb-20 scroll-zoom">
                            <div class="product-img">
                                <a href="product-details.html"><img src="../../static/img/product/hm5-pro-10.jpg" alt=""></a>
                                <span class="purple">New</span>
                                <div class="product-content-3-wrap">
                                    <div class="product-content-3">
                                        <div class="product-title">
                                            <h3><a href="product-details.html">Panama Hat</a></h3>
                                        </div>
                                        <div class="price-3">
                                            <span>$ 40.00</span>
                                        </div>
                                        <div class="product-action-3">
                                            <a title="Add To Cart" href="#"><i class="fa fa-shopping-cart"></i></a>
                                            <a title="Quick View" href="#" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-eye"></i></a>
                                            <a title="Compare" href="#"><i class="fa fa-retweet"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="product-wrap-3 mb-20 scroll-zoom">
                            <div class="product-img">
                                <a href="product-details.html"><img src="../../static/img/product/hm5-pro-11.jpg" alt=""></a>
                                <div class="product-content-3-wrap">
                                    <div class="product-content-3">
                                        <div class="product-title">
                                            <h3><a href="product-details.html">Sunflower Shoes</a></h3>
                                        </div>
                                        <div class="price-3">
                                            <span>$ 40.00</span>
                                        </div>
                                        <div class="product-action-3">
                                            <a title="Add To Cart" href="#"><i class="fa fa-shopping-cart"></i></a>
                                            <a title="Quick View" href="#" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-eye"></i></a>
                                            <a title="Compare" href="#"><i class="fa fa-retweet"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="product-wrap-3 mb-20 scroll-zoom">
                            <div class="product-img">
                                <a href="product-details.html"><img src="../../static/img/product/hm5-pro-12.jpg" alt=""></a>
                                <span class="purple">-30%</span>
                                <div class="product-content-3-wrap">
                                    <div class="product-content-3">
                                        <div class="product-title">
                                            <h3><a href="product-details.html">Leather Crossbody Purse</a></h3>
                                        </div>
                                        <div class="price-3">
                                            <span>$ 40.00</span>
                                            <span class="old">$ 50.00</span>
                                        </div>
                                        <div class="product-action-3">
                                            <a title="Add To Cart" href="#"><i class="fa fa-shopping-cart"></i></a>
                                            <a title="Quick View" href="#" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-eye"></i></a>
                                            <a title="Compare" href="#"><i class="fa fa-retweet"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}