{% extends 'base.html' %}
{% block content %}
<style>
    header{
        position:absolute !important;
    }
</style>

<div class="full-page-area bg-purple-2">
    <div id="fullpage">
        <div class="slider-section flone-fp-section" id="section1">
            <div class="container">
                <div class="row fullpage-slider-wrap-mrg">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-12 d-flex align-items-center">
                        <div class="slider-content-11 slider-animated-1 fullpage-slider-mrg fullpage-content">
                            <h3 class="animated">2020 Fashion For Womens</h3>
                            <h1 class="animated">-40% Spring <br>Shirts & Tops</h1>
                            <div class="slider-btn-11 btn-hover">
                                <a class="animated" href="shop.html">SHOP NOW</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="slider12-img-1 slider-animated-1">
                            <img class="animated" alt="" src="../../static/img/slider/hm-11-1.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-section flone-fp-section active" id="section2">
            <div class="container">
                <div class="row d-flex align-items-center fullpage-slider-mrg-2">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="slider-content-11 slider-animated-1 fullpage-content">
                            <h3 class="animated">2020 Fashion For Womens</h3>
                            <h1 class="animated">-40% Spring <br>Shirts & Tops</h1>
                            <div class="slider-btn-11 btn-hover">
                                <a class="animated" href="shop.html">SHOP NOW</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="slider12-img-2 slider-animated-1">
                            <img class="animated" alt="" src="../../static/img/slider/hm-11-2.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-section flone-fp-section " id="section3">
            <div class="container">
                <div class="row fullpage-slider-wrap-mrg">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-12 d-flex align-items-center fullpage-slider-mrg">
                        <div class="slider-content-11 slider-animated-1 fullpage-content">
                            <h3 class="animated">2020 Fashion For Womens</h3>
                            <h1 class="animated">-40% Spring <br>Shirts & Tops</h1>
                            <div class="slider-btn-11 btn-hover">
                                <a class="animated" href="shop.html">SHOP NOW</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="slider12-img-1 slider-animated-1">
                            <img class="animated" alt="" src="../../static/img/slider/hm-11-1.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-section flone-fp-section last-before-footer" id="section4">
            <div class="container">
                <div class="row d-flex align-items-center fullpage-slider-mrg-2">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="slider-content-11 slider-animated-1 fullpage-content">
                            <h3 class="animated">2020 Fashion For Womens</h3>
                            <h1 class="animated">-40% Spring <br>Shirts & Tops</h1>
                            <div class="slider-btn-11 btn-hover">
                                <a class="animated" href="shop.html">SHOP NOW</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                        <div class="slider12-img-2 slider-animated-1">
                            <img class="animated" alt="" src="../../static/img/slider/hm-11-2.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="slider-section flone-fp-section bg-white footer-area border-top-1 pt-100 pb-70" id="section5">
            <div class="team-area pt-95 pb-70">
                <div class="container">
                    <div class="section-title-2 text-center mb-60">
                        <h2>Team Members</h2>
                        <p>Lorem ipsum dolor sit amet conse ctetu.</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-2 col-md-6 col-sm-6">
                            <div class="team-wrapper mb-30">
                                <div class="team-img">
                                    <a href="#">
                                        <img src="../../static/img/team/team-1.jpg" alt="" height="200px">
                                    </a>
                                    <div class="team-action">
                                        <a class="facebook" href="#">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                        <a class="twitter" title="Wishlist" href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                        <a class="instagram" href="#">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="team-content text-center">
                                    <h4>soothingni</h4>
                                    <span>Head </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-6">
                            <div class="team-wrapper mb-30">
                                <div class="team-img">
                                    <a href="#">
                                        <img src="../../static/img/team/team-3.jpg" alt="" height="200px">
                                    </a>
                                    <div class="team-action">
                                        <a class="facebook" href="#">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                        <a class="twitter" title="Wishlist" href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                        <a class="instagram" href="#">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="team-content text-center">
                                    <h4>dyk</h4>
                                    <span>Writer</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-6">
                            <div class="team-wrapper mb-30">
                                <div class="team-img">
                                    <a href="#">
                                        <img src="../../static/img/team/team-2.jpg" alt="" height="200px">
                                    </a>
                                    <div class="team-action">
                                        <a class="facebook" href="#">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                        <a class="twitter" title="Wishlist" href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                        <a class="instagram" href="#">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="team-content text-center">
                                    <h4>Kim Jihoon</h4>
                                    <span>敎主</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-6">
                            <div class="team-wrapper mb-30">
                                <div class="team-img">
                                    <a href="#">
                                        <img src="../../static/img/team/team-4.jpg" alt="" height="200px">
                                    </a>
                                    <div class="team-action">
                                        <a class="facebook" href="#">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                        <a class="twitter" title="Wishlist" href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                        <a class="instagram" href="#">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="team-content text-center">
                                    <h4>jsg</h4>
                                    <span>chores </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-6">
                            <div class="team-wrapper mb-30">
                                <div class="team-img">
                                    <a href="#">
                                        <img src="../../static/img/team/team-4.jpg" alt="" height="200px">
                                    </a>
                                    <div class="team-action">
                                        <a class="facebook" href="#">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                        <a class="twitter" title="Wishlist" href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                        <a class="instagram" href="#">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="team-content text-center">
                                    <h4>shchoi</h4>
                                    <span>Dev Master</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            

        </footer>



        <div>
            <div class="container">
                <div class="row">
                    <div class="col">
                        Members: </br>soothingni(head),</br> dyk(writer), </br>Kim Jihoon(敎主), </br>jsg(chores), </br>shchoi(dev master)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>










    {% endblock %}