{% extends 'base.html' %}
{% block title %}
Styles List
{% endblock title %}
{% load static %}
{% block content%}

<style>
    .default-img {
        clip-path: circle(120px at center);
    }

    .container2 {
        width : 100%;

    }
    .pt {
        display:table-cell;
        text-align: center;
        vertical-align: middle;
    }
    .image {
        display: block;
        width: 100%;
        height: auto;
    }

    .overlay {
        display:table;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: #000fff00;
    }

    .container2:hover .overlay {
        opacity: 100%;
    }

    .overlay2 {
        display:table;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: #000;
        clip-path: circle(120px at center);
    }

    .container2:hover .overlay2 {
        opacity: 50%;
    }

    .pro-same-action {
        display: table;
        text-align: center;
    }

    .wish{
        display: table-cell;
        text-align: center;
        vertical-align: middle;
    }

</style>


<div class="shop-area pt-95 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="shop-top-bar">
                    <div class="select-shoing-wrap">
                        <div class="shop-select">
                            <select>
                                <option value="">Sort by newness</option>
                                <option value="">A to Z</option>
                                <option value=""> Z to A</option>
                                <option value="">In stock</option>
                            </select>
                        </div>
                    </div>
                    <div class="shop-tab nav">
                        <a class="active" href="#shop-1" data-toggle="tab">
                            <i class="fa fa-table"></i>
                        </a>
                    </div>
                </div>
                <div class="shop-bottom-area mt-35">
                    <div class="tab-content jump">
                        <div id="shop-1" class="tab-pane active">
                            <div class="row">
                                {% for star in stars %}
                                <div class="col-xl-4 col-md-6 col-lg-6 col-sm-6">
                                    <div class="product-wrap mb-25 scroll-zoom">
                                        <div class="product-img">

                                            <a href="details/{{star.NAME}}/{{star.STYLE}}">
                                                <div class="container2">

                                                <img class="default-img" src='{% static "" %}star/{{star.NAME}}/thumb/{{star.STYLE}}.jpg' alt="">
                                                    <div class="overlay2"></div>
                                                    <div class="overlay"><p class="pt"><font color="white" size="7">{{star.NAME|upper}}</font></p></div>

                                                </div>
                                            </a>
                                            {% if star.NAME == "iu" %}
                                            <span class="pink">HOT</span>
                                            {% elif star.NAME == "irene" %}
                                            <span class="pink">NEW</span>
                                            {% else %}
                                            {% endif %}
                                        </div>
                                        <div class="product-content text-center">
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% if stars.has_other_pages %}
                    <div class="pro-pagination-style text-center mt-30">
                        <ul>
                            {% if stars.has_previous %}
                            <li><a class="prev" href="?page={{ stars.previous_page_number }}"><i class="fa fa-angle-double-left"></i></a></li>
                            {% endif %}
                            {% for i in stars.paginator.page_range %}
                                {% if stars.number == i %}
                                <li><a class="active">{{ i }}</a></li>
                                {% else %}
                                <li><a href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if stars.has_next %}
                            <li><a class="next" href="?page={{ stars.next_page_number }}"><i class="fa fa-angle-double-right"></i></a></li>
                            {%endif %}
                        </ul>
                    </div>
                    {%endif %}
                </div>
            </div>
            <div class="col-lg-3">
                <div class="sidebar-style ml-30">
                    <div class="sidebar-widget">
                        <h4 class="pro-sidebar-title">Search </h4>
                        <div class="pro-sidebar-search mb-50 mt-25">
                            <form class="pro-sidebar-search-form" action='' method="GET">
                                <input type="text" name='KEYWORD' placeholder="Search here...">
                                <button>
                                    <i class="pe-7s-search"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="sidebar-widget mt-50">
                        <h4 class="pro-sidebar-title">Tag </h4>
                        <div class="sidebar-widget-tag mt-25">
                            <ul>
                                {% for tag in tags %}
                                <li><a href="{{tag.tag_no}}">{{tag.tag_name}}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}