<style>
    .lookbook {
        background-color: #d9e8f3;
        margin: 100px 0 50px 0;
        padding : 50px 100px 0 100px;
    }
    
    ul > li {
        list-style: none;
        display: inline-block;
    }
    
    .bottom {
        width: 200;
    }
    
    #star_carousel {
      position: relative;
      margin: auto;
      padding : 0px 50px 100px 50px;
    }
    
    .carousel{
        background-color: #FAEDAB
    }
    
    td {
        width: 150px;
    }
    
    .circular--square {
        border-radius: 50%;
        width: 100px;
        height: 100px;
                    }
    
    header {
    background-color: #d9e8f3
    }
    
</style>

{% extends "step1/base.html" %}

{% block title %}
main
{% endblock title %}

{% load static %}

{% block content %}








<!-- 10x10 Lookbook -->
<div class="lookbook" style="background-color:#eaf9ef;">
	<h2><img src="http://webimage.10x10.co.kr/eventIMG/2020/pcmainlook/copyimageurl20200602003938.PNG" alt="Look Book"></h2>
	<div id="slider" class="look-list">
		<ul style="width: 11370px;">

				<li class="bottom" style="width: 256px;">
					<div class="image">
						<a href="/shopping/category_prd.asp?itemid=2612078&amp;gaparam=main_look_1" onclick="AmpEventLook(JSON.parse('{\&quot;LookNumber\&quot;:\&quot;0\&quot;}'));fnAmplitudeEventMultiPropertiesAction('click_mainlookbanner','indexnumber|itemid|categoryname|brand_id','1|2612078|패브릭/생활|ECOAND');">
							<img src="http://webimage.10x10.co.kr/eventIMG/2020/pcmainlookitem/itemimage20200602004004.JPEG" alt="LookItem">

						</a>
					</div>
				</li>

				<li class="bottom" style="width: 343px;">
					<div class="image">
						<a href="/shopping/category_prd.asp?itemid=2677702&amp;gaparam=main_look_2" onclick="AmpEventLook(JSON.parse('{\&quot;LookNumber\&quot;:\&quot;1\&quot;}'));fnAmplitudeEventMultiPropertiesAction('click_mainlookbanner','indexnumber|itemid|categoryname|brand_id','2|2677702|키친|MOKHA');">
							<img src="http://webimage.10x10.co.kr/eventIMG/2020/pcmainlookitem/itemimage20200602004037.JPEG" alt="LookItem">

						</a>
					</div>
				</li>

				<li class="top" style="width: 815px;">
					<div class="image">
						<a href="/shopping/category_prd.asp?itemid=2825716&amp;gaparam=main_look_3" onclick="AmpEventLook(JSON.parse('{\&quot;LookNumber\&quot;:\&quot;2\&quot;}'));fnAmplitudeEventMultiPropertiesAction('click_mainlookbanner','indexnumber|itemid|categoryname|brand_id','3|2825716|키친|OLA');">
							<img src="http://webimage.10x10.co.kr/eventIMG/2020/pcmainlookitem/itemimage20200602004052.JPEG" alt="LookItem">

						</a>
					</div>
				</li>

				<li class="bottom" style="width: 342px;">
					<div class="image">
						<a href="/shopping/category_prd.asp?itemid=2149589&amp;gaparam=main_look_4" onclick="AmpEventLook(JSON.parse('{\&quot;LookNumber\&quot;:\&quot;3\&quot;}'));fnAmplitudeEventMultiPropertiesAction('click_mainlookbanner','indexnumber|itemid|categoryname|brand_id','4|2149589|패브릭/생활|Lavikit');">
							<img src="http://webimage.10x10.co.kr/eventIMG/2020/pcmainlookitem/itemimage20200602004122.JPEG" alt="LookItem">

						</a>
					</div>
				</li>

				<li class="bottom" style="width: 311px;">
					<div class="image">
						<a href="/shopping/category_prd.asp?itemid=2142514&amp;gaparam=main_look_5" onclick="AmpEventLook(JSON.parse('{\&quot;LookNumber\&quot;:\&quot;4\&quot;}'));fnAmplitudeEventMultiPropertiesAction('click_mainlookbanner','indexnumber|itemid|categoryname|brand_id','5|2142514|키친|mosh');">
							<img src="http://webimage.10x10.co.kr/eventIMG/2020/pcmainlookitem/itemimage20200602004222.JPEG" alt="LookItem">

						</a>
					</div>
				</li>

				<li class="top" style="width: 544px;">
					<div class="image">
						<a href="/shopping/category_prd.asp?itemid=2836042&amp;gaparam=main_look_6" onclick="AmpEventLook(JSON.parse('{\&quot;LookNumber\&quot;:\&quot;5\&quot;}'));fnAmplitudeEventMultiPropertiesAction('click_mainlookbanner','indexnumber|itemid|categoryname|brand_id','6|2836042|키친|SILIMILI');">
							<img src="http://webimage.10x10.co.kr/eventIMG/2020/pcmainlookitem/itemimage20200602004238.JPEG" alt="LookItem">

						</a>
					</div>
				</li>

				<li class="bottom" style="width: 327px;">
					<div class="image">
						<a href="/shopping/category_prd.asp?itemid=2423891&amp;gaparam=main_look_7" onclick="AmpEventLook(JSON.parse('{\&quot;LookNumber\&quot;:\&quot;6\&quot;}'));fnAmplitudeEventMultiPropertiesAction('click_mainlookbanner','indexnumber|itemid|categoryname|brand_id','7|2423891|패션잡화|Gracebell');">
							<img src="http://webimage.10x10.co.kr/eventIMG/2020/pcmainlookitem/itemimage20200602004302.JPEG" alt="LookItem">

						</a>
					</div>
				</li>

				<li class="top" style="width: 537px;">
					<div class="image">
						<a href="/shopping/category_prd.asp?itemid=2491788&amp;gaparam=main_look_8" onclick="AmpEventLook(JSON.parse('{\&quot;LookNumber\&quot;:\&quot;7\&quot;}'));fnAmplitudeEventMultiPropertiesAction('click_mainlookbanner','indexnumber|itemid|categoryname|brand_id','8|2491788|패션잡화|LIVEWORK');">
							<img src="http://webimage.10x10.co.kr/eventIMG/2020/pcmainlookitem/itemimage20200602004321.JPEG" alt="LookItem">

						</a>
					</div>
				</li>

				<li class="bottom" style="width: 322px;">
					<div class="image">
						<a href="/shopping/category_prd.asp?itemid=2598574&amp;gaparam=main_look_9" onclick="AmpEventLook(JSON.parse('{\&quot;LookNumber\&quot;:\&quot;8\&quot;}'));fnAmplitudeEventMultiPropertiesAction('click_mainlookbanner','indexnumber|itemid|categoryname|brand_id','9|2598574|키친|jejustudio');">
							<img src="http://webimage.10x10.co.kr/eventIMG/2020/pcmainlookitem/itemimage20200602004344.JPEG" alt="LookItem">

						</a>
					</div>
				</li>

				<li class="bottom" style="width: 324px;">
					<div class="image">
						<a href="/shopping/category_prd.asp?itemid=2854412&amp;gaparam=main_look_10" onclick="AmpEventLook(JSON.parse('{\&quot;LookNumber\&quot;:\&quot;9\&quot;}'));fnAmplitudeEventMultiPropertiesAction('click_mainlookbanner','indexnumber|itemid|categoryname|brand_id','10|2854412|뷰티|DONGGUBAT');">
							<img src="http://webimage.10x10.co.kr/eventIMG/2020/pcmainlookitem/itemimage20200602004411.JPEG" alt="LookItem">

						</a>
					</div>
				</li>

				<li class="top" style="width: 387px;">
					<div class="image">
						<a href="/shopping/category_prd.asp?itemid=2717364&amp;gaparam=main_look_11" onclick="AmpEventLook(JSON.parse('{\&quot;LookNumber\&quot;:\&quot;10\&quot;}'));fnAmplitudeEventMultiPropertiesAction('click_mainlookbanner','indexnumber|itemid|categoryname|brand_id','11|2717364|키친|MOKHA');">
							<img src="http://webimage.10x10.co.kr/eventIMG/2020/pcmainlookitem/itemimage20200602004535.JPEG" alt="LookItem">

						</a>
					</div>
				</li>

				<li class="bottom" style="width: 457px;">
					<div class="image">
						<a href="/shopping/category_prd.asp?itemid=2355175&amp;gaparam=main_look_12" onclick="AmpEventLook(JSON.parse('{\&quot;LookNumber\&quot;:\&quot;11\&quot;}'));fnAmplitudeEventMultiPropertiesAction('click_mainlookbanner','indexnumber|itemid|categoryname|brand_id','12|2355175|패브릭/생활|godshop');">
							<img src="http://webimage.10x10.co.kr/eventIMG/2020/pcmainlookitem/itemimage20200602004646.JPEG" alt="LookItem">

						</a>
					</div>
				</li>

		<li class="bottom" style="width: 256px;">
					<div class="image">
						<a href="/shopping/category_prd.asp?itemid=2612078&amp;gaparam=main_look_1" onclick="AmpEventLook(JSON.parse('{\&quot;LookNumber\&quot;:\&quot;0\&quot;}'));fnAmplitudeEventMultiPropertiesAction('click_mainlookbanner','indexnumber|itemid|categoryname|brand_id','1|2612078|패브릭/생활|ECOAND');">
							<img src="http://webimage.10x10.co.kr/eventIMG/2020/pcmainlookitem/itemimage20200602004004.JPEG" alt="LookItem">

						</a>
					</div>
				</li><li class="bottom" style="width: 343px;">
					<div class="image">
						<a href="/shopping/category_prd.asp?itemid=2677702&amp;gaparam=main_look_2" onclick="AmpEventLook(JSON.parse('{\&quot;LookNumber\&quot;:\&quot;1\&quot;}'));fnAmplitudeEventMultiPropertiesAction('click_mainlookbanner','indexnumber|itemid|categoryname|brand_id','2|2677702|키친|MOKHA');">
							<img src="http://webimage.10x10.co.kr/eventIMG/2020/pcmainlookitem/itemimage20200602004037.JPEG" alt="LookItem">

						</a>
					</div>
				</li><li class="top" style="width: 815px;">
					<div class="image">
						<a href="/shopping/category_prd.asp?itemid=2825716&amp;gaparam=main_look_3" onclick="AmpEventLook(JSON.parse('{\&quot;LookNumber\&quot;:\&quot;2\&quot;}'));fnAmplitudeEventMultiPropertiesAction('click_mainlookbanner','indexnumber|itemid|categoryname|brand_id','3|2825716|키친|OLA');">
							<img src="http://webimage.10x10.co.kr/eventIMG/2020/pcmainlookitem/itemimage20200602004052.JPEG" alt="LookItem">

						</a>
					</div>
				</li><li class="bottom" style="width: 342px;">
					<div class="image">
						<a href="/shopping/category_prd.asp?itemid=2149589&amp;gaparam=main_look_4" onclick="AmpEventLook(JSON.parse('{\&quot;LookNumber\&quot;:\&quot;3\&quot;}'));fnAmplitudeEventMultiPropertiesAction('click_mainlookbanner','indexnumber|itemid|categoryname|brand_id','4|2149589|패브릭/생활|Lavikit');">
							<img src="http://webimage.10x10.co.kr/eventIMG/2020/pcmainlookitem/itemimage20200602004122.JPEG" alt="LookItem">

						</a>
					</div>
				</li><li class="bottom" style="width: 311px;">
					<div class="image">
						<a href="/shopping/category_prd.asp?itemid=2142514&amp;gaparam=main_look_5" onclick="AmpEventLook(JSON.parse('{\&quot;LookNumber\&quot;:\&quot;4\&quot;}'));fnAmplitudeEventMultiPropertiesAction('click_mainlookbanner','indexnumber|itemid|categoryname|brand_id','5|2142514|키친|mosh');">
							<img src="http://webimage.10x10.co.kr/eventIMG/2020/pcmainlookitem/itemimage20200602004222.JPEG" alt="LookItem">

						</a>
					</div>
				</li><li class="top" style="width: 544px;">
					<div class="image">
						<a href="/shopping/category_prd.asp?itemid=2836042&amp;gaparam=main_look_6" onclick="AmpEventLook(JSON.parse('{\&quot;LookNumber\&quot;:\&quot;5\&quot;}'));fnAmplitudeEventMultiPropertiesAction('click_mainlookbanner','indexnumber|itemid|categoryname|brand_id','6|2836042|키친|SILIMILI');">
							<img src="http://webimage.10x10.co.kr/eventIMG/2020/pcmainlookitem/itemimage20200602004238.JPEG" alt="LookItem">

						</a>
					</div>
				</li><li class="bottom" style="width: 327px;">
					<div class="image">
						<a href="/shopping/category_prd.asp?itemid=2423891&amp;gaparam=main_look_7" onclick="AmpEventLook(JSON.parse('{\&quot;LookNumber\&quot;:\&quot;6\&quot;}'));fnAmplitudeEventMultiPropertiesAction('click_mainlookbanner','indexnumber|itemid|categoryname|brand_id','7|2423891|패션잡화|Gracebell');">
							<img src="http://webimage.10x10.co.kr/eventIMG/2020/pcmainlookitem/itemimage20200602004302.JPEG" alt="LookItem">

						</a>
					</div>
				</li><li class="top" style="width: 537px;">
					<div class="image">
						<a href="/shopping/category_prd.asp?itemid=2491788&amp;gaparam=main_look_8" onclick="AmpEventLook(JSON.parse('{\&quot;LookNumber\&quot;:\&quot;7\&quot;}'));fnAmplitudeEventMultiPropertiesAction('click_mainlookbanner','indexnumber|itemid|categoryname|brand_id','8|2491788|패션잡화|LIVEWORK');">
							<img src="http://webimage.10x10.co.kr/eventIMG/2020/pcmainlookitem/itemimage20200602004321.JPEG" alt="LookItem">

						</a>
					</div>
				</li><li class="bottom" style="width: 322px;">
					<div class="image">
						<a href="/shopping/category_prd.asp?itemid=2598574&amp;gaparam=main_look_9" onclick="AmpEventLook(JSON.parse('{\&quot;LookNumber\&quot;:\&quot;8\&quot;}'));fnAmplitudeEventMultiPropertiesAction('click_mainlookbanner','indexnumber|itemid|categoryname|brand_id','9|2598574|키친|jejustudio');">
							<img src="http://webimage.10x10.co.kr/eventIMG/2020/pcmainlookitem/itemimage20200602004344.JPEG" alt="LookItem">

						</a>
					</div>
				</li><li class="bottom" style="width: 324px;">
					<div class="image">
						<a href="/shopping/category_prd.asp?itemid=2854412&amp;gaparam=main_look_10" onclick="AmpEventLook(JSON.parse('{\&quot;LookNumber\&quot;:\&quot;9\&quot;}'));fnAmplitudeEventMultiPropertiesAction('click_mainlookbanner','indexnumber|itemid|categoryname|brand_id','10|2854412|뷰티|DONGGUBAT');">
							<img src="http://webimage.10x10.co.kr/eventIMG/2020/pcmainlookitem/itemimage20200602004411.JPEG" alt="LookItem">

						</a>
					</div>
				</li><li class="top" style="width: 387px;">
					<div class="image">
						<a href="/shopping/category_prd.asp?itemid=2717364&amp;gaparam=main_look_11" onclick="AmpEventLook(JSON.parse('{\&quot;LookNumber\&quot;:\&quot;10\&quot;}'));fnAmplitudeEventMultiPropertiesAction('click_mainlookbanner','indexnumber|itemid|categoryname|brand_id','11|2717364|키친|MOKHA');">
							<img src="http://webimage.10x10.co.kr/eventIMG/2020/pcmainlookitem/itemimage20200602004535.JPEG" alt="LookItem">

						</a>
					</div>
				</li><li class="bottom" style="width: 457px;">
					<div class="image">
						<a href="/shopping/category_prd.asp?itemid=2355175&amp;gaparam=main_look_12" onclick="AmpEventLook(JSON.parse('{\&quot;LookNumber\&quot;:\&quot;11\&quot;}'));fnAmplitudeEventMultiPropertiesAction('click_mainlookbanner','indexnumber|itemid|categoryname|brand_id','12|2355175|패브릭/생활|godshop');">
							<img src="http://webimage.10x10.co.kr/eventIMG/2020/pcmainlookitem/itemimage20200602004646.JPEG" alt="LookItem">

						</a>
					</div>
				</li></ul>
	</div>
	<script>function AmpEventLook(jsonval){	AmplitudeEventSend('MainLookBook', jsonval, 'eventProperties');	}</script>
</div>



{% endblock %}

{% block jsfooter %}


<!--<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>-->

<script type="text/javascript" src="{% static 'js/jquery.kxbdmarquee.js' %}"></script>
<script type="text/javascript" src="{% static 'js/raven.js' %}"></script>


<script type="text/javascript">
$(function() {
	// look
	$('img').on('load',function(){
		$('.look-list li').each(function(){
			var imgW = $(this).find('img').outerWidth();
			$(this).css('width', imgW+'px');
		});
	});
	$('.look-list li').each(function(){
		var imgW = $(this).find('img').outerWidth();
		$(this).css('width', imgW+'px');
	});
	$("#slider").kxbdMarquee({
		loop:20,
		isEqual:false,
		scrollDelay:8
	});
});

</script>

{% endblock jsfooter %}



