<style>
    .lookbook {
        padding : 50px 0px 0px 0px;
        background-color: #FBFADB;
    }

    .lookbook .owl-carousel {
        position:absolute;
        z-index:1;
    }

    .lookbook_scroller {
        margin-top:100px;
    }

    
    .bottom {
        width: 200px;
    }

    .circular--square {
        border-radius: 3000px;
        width: 130px;
        height: 130px;
        justify-content: center;
        align-items: center;
                    }
    
    header {
    background-color: #d9e8f3
    }


    .style_carousel_wrap {
        text-align: center;
        padding-top:50px;
        background-color: #FAEDAB;
    }
    .style-carousel {margin:20px 0 50px 0;}
    .style-carousel .item {margin:10px}
    .style-carousel .item img {width:150px !important; height:150px}

</style>

{% extends "base.html" %}

{% block title %}
main
{% endblock title %}

{% load static %}

{% block content %}

<!--SECTION1: LOOKBOOK-->
<div class="lookbook">
    <!-- 메인 안내글 -->
    <div class="slider-area">
       <div class="slider-active owl-carousel nav-style-1">

           <div class="container">
               <div class="row">
                   <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                       <div class="slider-content-7 slider-animated-1">
                           <h3 class="animated"> 당신만의 </h3>
                           <h1 class="animated"> 스타일 어시스턴트 : odd eye </h1>
                           <div class="slider-btn-9 btn-hover">
                               <a class="animated" href="aboutus"> 더 알아보기 </a>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
           <div class="container">
               <div class="row">
                   <div class="col-xl-6 col-lg-6 col-md-7 ml-auto">
                       <div class="slider-content-7 slider-animated-1">
                           <h3 class="animated"> oddeye가 </h3>
                           <h1 class="animated"> 당신의 스타일을 찾아드립니다</h1>
                           <div class="slider-btn-9 btn-hover">
                               <a class="animated" href="aboutus"> 더 알아보기 </a>
                           </div>
                       </div>
                   </div>
               </div>
           </div>

       </div>
    </div>

    <!-- 스타일 스크롤러 -->
    <div class="lookbook_scroller">
        <ul id="scroller">
            {% for star in  stars %}
            <li class="bottom">
                <a href="styles/details/{{star}} "><img src= '{% static "" %}step1/{{star}}.png' ></a>
            </li>
            {% endfor %} 
        </ul>
    </div>
</div>

<!--SECTION2: STAR CAROUSEL-->
<div class="style_carousel_wrap">
    <div class="container">
            <h2> star carousel </h2>
        <div class="row">
            <div class="col"></div>
            <div class="col-xl-8">
                <div class="style-carousel owl-carousel nav-style-1">
                    {% for thumbnail in thumbnails %}
                    <div class="item">
                        <a href="{% url 'styles:styles' %}">
                            <img class="circular--square" src='{% static "" %}step1/star_thumbnails/{{thumbnail}}'>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
</div>




{% endblock %}

{% block jsfooter %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'js/jquery.simplyscroll.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/jquery.simplyscroll.css' %}" media="all" type="text/css">


<script type="text/javascript">
(function($) {
    $(function() { //on DOM ready 
        $("#scroller").simplyScroll({
        speed: 3
            });
    });
 })(jQuery);
</script>

{% endblock jsfooter %}



