
<!-- TRY 2 -->
<div id="style_carousel" class="carousel slide" data-ride="carousel">
<h3> star carousel </h3>

    <ol class="carousel-indicators">
      <li data-target="#style_carousel" data-slide-to="0" class="active"></li>
      <li data-target="#style_carousel" data-slide-to="1"></li>
      <li data-target="#style_carousel" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
        <!--first slide-->
        <div class="carousel-item row active" style="margin:0 auto 0 auto;">
            <div class="col"></div>
                <ul>
                    {% for thumbnail in thumbnails.0 %}
                    <li>
                        <a href="{% url 'styles:styles' %}">
                            <img class="circular--square" src='{% static "" %}step1/star_thumbnails/{{thumbnail}}'>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
        </div>
        <!--second slide and on-->
        {% for thumbnail in thumbnails|slice:"1:" %}
        <div class="carousel-item row" style="margin:0 auto 0 auto;">
            <div class="col"></div>
                <ul>
                    <li>
                        <a href="{% url 'styles:styles' %}">
                            <img class="circular--square" src='{% static "" %}step1/star_thumbnails/{{thumbnail.0}}'>
                        </a>
                    </li>
                    {% if thumbnail|length > 1%}
                    <li>
                        <a href="{% url 'styles:styles' %}">
                            <img class="circular--square" src='{% static "" %}step1/star_thumbnails/{{thumbnail.1}}'>
                        </a>
                    </li>
                    {% endif %}
                    {% if thumbnail|length > 2 %}
                    <li>
                        <a href="{% url 'styles:styles' %}">
                            <img class="circular--square" src='{% static "" %}step1/star_thumbnails/{{thumbnail.2}}'>
                        </a>
                    </li>
                    {% endif %}
                    {% if thumbnail|length > 3 %}
                    <li>
                        <a href="{% url 'styles:styles' %}">
                            <img class="circular--square" src='{% static "" %}step1/star_thumbnails/{{thumbnail.3}}'>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        {% endfor %}
        <a class="carousel-control-prev" href="#style_carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#style_carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>


<!-- TRY 1 -->
        <div class="carousel-item row active" style="margin:0 auto 0 auto;">
            <div class="col"></div>
                <ul>
                    {% for thumbnail in thumbnails.0 %}
                    <li>
                        <a href="{% url 'styles:styles' %}">
                            <img class="circular--square" src='{% static "" %}step1/star_thumbnails/{{thumbnail}}'>
                        </a>
                    </li>
                        {% endfor %}

                </ul>
            <div class="col"></div>
        </div>

        <div class="carousel-item row" style="margin:0 auto 0 auto;">
            <div class="col"></div>
                <ul>
                    {% for thumbnail in thumbnails.1 %}
                    <li>
                        <a href="{% url 'styles:styles' %}">
                            <img class="circular--square" src='{% static "" %}step1/star_thumbnails/{{thumbnail}}'>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            <div class="col"></div>
        </div>
        <div class="carousel-item row" style="margin:0 auto 0 auto;">
            <div class="col"></div>
                <ul>
                    {% for thumbnail in thumbnails.2 %}
                    <li>
                        <a href="{% url 'styles:styles' %}">
                            <img class="circular--square" src='{% static "" %}step1/star_thumbnails/{{thumbnail}}'>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            <div class="col"></div>




    $(document).ready(function() {
        //   $('#style_carousel').carousel({
        // interval: 1500;
        //   });

        var owl = $('.owl-one');
        owl.owlCarousel({
            loop: true,
            margin: 10,
            nav: true
        });

        $('.owl-two').owlCarousel({
            items: 4,
            loop: true,
            margin: 10,
            autoplay: true,
            autoplayTimeout: 1000,
            autoplayHoverPause: true,
            })