<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Flone - Minimal eCommerce HTML Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="../../static/step1/img/favicon.png">
    
    <!-- CSS
	============================================ -->
   
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="../../static/css/icons.min.css">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="../../static/css/plugins.css">
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="../../static/css/style.css">
    <!-- Modernizer JS -->
    <script src="../../static/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
    <div class="wrapper">
        <header class="header-area sticky-bar header-padding-3 header-res-padding clearfix transparent-bar">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-5 col-lg-6 d-none d-lg-block">
                        <div class="main-menu menu-white">
                            <nav>
                                <ul>
                                    <li><a href="index.html">Home <i class="fa fa-angle-down"></i></a>
                                        <ul class="mega-menu mega-menu-padding mega-menu-res">
                                            <li>
                                                <ul>
                                                    <li class="mega-menu-title"><a href="#">Demo Group 01</a></li>
                                                    <li><a href="index.html">Home 1 – Fashion</a></li>
                                                    <li><a href="index-2.html">Home 2 – Fashion</a></li>
                                                    <li><a href="index-3.html">Home 3 – Fashion</a></li>
                                                    <li><a href="index-4.html">Home 4 – Fashion</a></li>
                                                    <li><a href="index-5.html">Home 5 – Fashion</a></li>
                                                    <li><a href="index-6.html">Home 6 – Fashion</a></li>
                                                    <li><a href="index-7.html">Home 7 – Fashion</a></li>
                                                    <li><a href="index-8.html">Home 8 – Minimal</a></li>
                                                    <li><a href="index-9.html">Home 9 – Electronics</a></li>
                                                    <li><a href="index-10.html">Home 10 – Furniture</a></li>
                                                    <li><a href="index-11.html">Home 11 - showcase slider</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <ul>
                                                    <li class="mega-menu-title"><a href="#">Demo Group 02</a></li>
                                                    <li><a href="index-12.html">Home 12 – Plants</a></li>
                                                    <li><a href="index-13.html">Home 13 – Cosmetic</a></li>
                                                    <li><a href="index-14.html">Home 14 – Christmas</a></li>
                                                    <li><a href="index-15.html">Home 15 – Fruit</a></li>
                                                    <li><a href="index-16.html">Home 16 –  Black Friday</a></li>
                                                    <li><a href="index-17.html">Home 17 – Flower</a></li>
                                                    <li><a href="index-18.html">Home 18 – Book</a></li>
                                                    <li><a href="index-19.html">Home 19 – Fashion</a></li>
                                                    <li><a href="index-20.html">Home 20 – Electronics</a></li>
                                                    <li><a href="index-21.html">Home 21 – Furniture</a></li>
                                                    <li><a href="index-22.html">Home 22 – Handmade</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <ul>
                                                    <li class="mega-menu-title"><a href="#">Demo Group 03</a></li>
                                                    <li><a href="index-23.html">Home 23 – Organic</a></li>
                                                    <li><a href="index-24.html">Home 24 – Pet Food</a></li>
                                                    <li><a href="index-25.html">Home 25 – Auto Parts</a></li>
                                                    <li><a href="index-26.html">Home 26 – Cake Shop</a></li>
                                                    <li><a href="index-27.html">Home 27 – Kids Fashion</a></li>
                                                    <li><a href="index-28.html">Home 28 – Book Shop</a></li>
                                                    <li><a href="index-29.html">Home 29 – Flower Shop</a></li>
                                                    <li><a href="index-30.html">Home 30 – Instagram</a></li>
                                                    <li><a href="index-31.html">Home 31 – Black Friday</a></li>
                                                    <li><a href="index-32.html">Home 32 – Valentine Day</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="shop.html"> Shop <i class="fa fa-angle-down"></i> </a>
                                        <ul class="mega-menu">
                                            <li>
                                                <ul>
                                                    <li class="mega-menu-title"><a href="#">shop layout</a></li>
                                                    <li><a href="shop.html">standard style</a></li>
                                                    <li><a href="shop-filter.html">Grid filter style</a></li>
                                                    <li><a href="shop-grid-2-col.html">Grid 2 column</a></li>
                                                    <li><a href="shop-no-sidebar.html">Grid No sidebar</a></li>
                                                    <li><a href="shop-grid-fw.html">Grid full wide </a></li>
                                                    <li><a href="shop-right-sidebar.html">Grid right sidebar</a></li>
                                                    <li><a href="shop-list.html">list 1 column box </a></li>
                                                    <li><a href="shop-list-fw.html">list 1 column full wide </a></li>
                                                    <li><a href="shop-list-fw-2col.html">list 2 column  full wide</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <ul>
                                                    <li class="mega-menu-title"><a href="#">product details</a></li>
                                                    <li><a href="product-details.html">tab style 1</a></li>
                                                    <li><a href="product-details-2.html">tab style 2</a></li>
                                                    <li><a href="product-details-3.html">tab style 3</a></li>
                                                    <li><a href="product-details-4.html">sticky style</a></li>
                                                    <li><a href="product-details-5.html">gallery style </a></li>
                                                    <li><a href="product-details-slider-box.html">Slider style</a></li>
                                                    <li><a href="product-details-affiliate.html">affiliate style</a></li>
                                                    <li><a href="product-details-6.html">fixed image style </a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <ul>
                                                    <li class="mega-menu-img"><a href="shop.html"><img src="../../static/step1/img/banner/banner-12.png" alt=""></a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="#"> Pages <i class="fa fa-angle-down"></i></a>
                                        <ul class="submenu">
                                            <li><a href="about.html">about us</a></li>
                                            <li><a href="cart-page.html">cart page</a></li>
                                            <li><a href="checkout.html">checkout </a></li>
                                            <li><a href="wishlist.html">wishlist </a></li>
                                            <li><a href="my-account.html">my account</a></li>
                                            <li><a href="login-register.html">login / register </a></li>
                                            <li><a href="contact.html">contact us </a></li>
                                            <li><a href="404.html">404 page </a></li>
                                        </ul>
                                    </li>
                                    <li><a href="blog.html">Blog <i class="fa fa-angle-down"></i></a>
                                        <ul class="submenu">
                                            <li><a href="blog.html">blog standard</a></li>
                                            <li><a href="blog-no-sidebar.html">blog no sidebar</a></li>
                                            <li><a href="blog-right-sidebar.html">blog right sidebar</a></li>
                                            <li><a href="blog-details.html">blog details 1</a></li>
                                            <li><a href="blog-details-2.html">blog details 2</a></li>
                                            <li><a href="blog-details-3.html">blog details 3</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="contact.html"> Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-6 col-4">
                        <div class="logo text-center logo-hm5">
                            <a class="sticky-none" href="index.html">
                                <img alt="" src="../../static/step1/img/logo/logo-2.png">
                            </a>
                            <a class="sticky-block" href="index.html">
                                <img alt="" src="../../static/step1/img/logo/logo.png">
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-4 col-md-6 col-8">
                        <div class="header-right-wrap header-right-wrap-white">
                            <div class="same-style header-search">
                                <a class="search-active" href="#"><i class="pe-7s-search"></i></a>
                                <div class="search-content">
                                    <form action="#">
                                        <input type="text" placeholder="Search" />
                                        <button class="button-search"><i class="pe-7s-search"></i></button>
                                    </form>
                                </div> 
                            </div>
                            <div class="same-style account-satting">
                                <a class="account-satting-active" href="#"><i class="pe-7s-user-female"></i></a>
                                <div class="account-dropdown">
                                    <ul>
                                        <li><a href="login-register.html">Login</a></li>
                                        <li><a href="login-register.html">Register</a></li>
                                        <li><a href="wishlist.html">Wishlist  </a></li>
                                        <li><a href="my-account.html">my account</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="same-style header-wishlist">
                                <a href="wishlist.html"><i class="pe-7s-like"></i></a>
                            </div>
                            <div class="same-style cart-wrap">
                                <button class="icon-cart">
                                    <i class="pe-7s-shopbag"></i>
                                    <span class="count-style">02</span>
                                </button>
                                <div class="shopping-cart-content">
                                    <ul>
                                        <li class="single-shopping-cart">
                                            <div class="shopping-cart-img">
                                                <a href="#"><img alt="" src="../../static/step1/img/cart/cart-1.png"></a>
                                            </div>
                                            <div class="shopping-cart-title">
                                                <h4><a href="#">T- Shart & Jeans </a></h4>
                                                <h6>Qty: 02</h6>
                                                <span>$260.00</span>
                                            </div>
                                            <div class="shopping-cart-delete">
                                                <a href="#"><i class="fa fa-times-circle"></i></a>
                                            </div>
                                        </li>
                                        <li class="single-shopping-cart">
                                            <div class="shopping-cart-img">
                                                <a href="#"><img alt="" src="../../static/step1/img/cart/cart-2.png"></a>
                                            </div>
                                            <div class="shopping-cart-title">
                                                <h4><a href="#">T- Shart & Jeans </a></h4>
                                                <h6>Qty: 02</h6>
                                                <span>$260.00</span>
                                            </div>
                                            <div class="shopping-cart-delete">
                                                <a href="#"><i class="fa fa-times-circle"></i></a>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="shopping-cart-total">
                                        <h4>Shipping : <span>$20.00</span></h4>
                                        <h4>Total : <span class="shop-total">$260.00</span></h4>
                                    </div>
                                    <div class="shopping-cart-btn btn-hover text-center">
                                        <a class="default-btn" href="cart-page.html">view cart</a>
                                        <a class="default-btn" href="checkout.html">checkout</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mobile-menu-area white-mobile-menu">
                    <div class="mobile-menu">
                        <nav id="mobile-menu-active">
                            <ul class="menu-overflow">
                                <li><a href="index.html">HOME</a>
                                    <ul>
                                        <li><a href="#">Demo Group 01</a>
                                            <ul>
                                                <li><a href="index.html">Home 1 – Fashion</a></li>
                                                <li><a href="index-2.html">Home 2 – Fashion</a></li>
                                                <li><a href="index-3.html">Home 3 – Fashion</a></li>
                                                <li><a href="index-4.html">Home 4 – Fashion</a></li>
                                                <li><a href="index-5.html">Home 5 – Fashion</a></li>
                                                <li><a href="index-6.html">Home 6 – Fashion</a></li>
                                                <li><a href="index-7.html">Home 7 – Fashion</a></li>
                                                <li><a href="index-8.html">Home 8 – Minimal</a></li>
                                                <li><a href="index-9.html">Home 9 – Electronics</a></li>
                                                <li><a href="index-10.html">Home 10 – Furniture</a></li>
                                                <li><a href="index-11.html">Home 11 - showcase slider</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Demo Group 02</a>
                                            <ul>
                                                <li><a href="index-12.html">Home 12 – Plants</a></li>
                                                <li><a href="index-13.html">Home 13 – Cosmetic</a></li>
                                                <li><a href="index-14.html">Home 14 – Christmas</a></li>
                                                <li><a href="index-15.html">Home 15 – Fruit</a></li>
                                                <li><a href="index-16.html">Home 16 –  Black Friday</a></li>
                                                <li><a href="index-17.html">Home 17 – Flower</a></li>
                                                <li><a href="index-18.html">Home 18 – Book</a></li>
                                                <li><a href="index-19.html">Home 19 – Fashion</a></li>
                                                <li><a href="index-20.html">Home 20 – Electronics</a></li>
                                                <li><a href="index-21.html">Home 21 – Furniture</a></li>
                                                <li><a href="index-22.html">Home 22 – Handmade</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Demo Group 03</a>
                                            <ul>
                                                <li><a href="index-23.html">Home 23 – Organic</a></li>
                                                <li><a href="index-24.html">Home 24 – Pet Food</a></li>
                                                <li><a href="index-25.html">Home 25 – Auto Parts</a></li>
                                                <li><a href="index-26.html">Home 26 – Cake Shop</a></li>
                                                <li><a href="index-27.html">Home 27 – Kids Fashion</a></li>
                                                <li><a href="index-28.html">Home 28 – Book Shop</a></li>
                                                <li><a href="index-29.html">Home 29 – Flower Shop</a></li>
                                                <li><a href="index-30.html">Home 30 – Instagram</a></li>
                                                <li><a href="index-31.html">Home 31 – Black Friday</a></li>
                                                <li><a href="index-32.html">Home 32 – Valentine Day</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="shop.html">Shop</a>
                                    <ul>
                                        <li><a href="#">shop layout</a>
                                            <ul>
                                                <li><a href="shop.html">standard style</a></li>
                                                <li><a href="shop-filter.html">Grid filter style</a></li>
                                                <li><a href="shop-grid-2-col.html">Grid 2 column</a></li>
                                                <li><a href="shop-no-sidebar.html">Grid No sidebar</a></li>
                                                <li><a href="shop-grid-fw.html">Grid full wide </a></li>
                                                <li><a href="shop-right-sidebar.html">Grid right sidebar</a></li>
                                                <li><a href="shop-list.html">list 1 column box </a></li>
                                                <li><a href="shop-list-fw.html">list 1 column full wide </a></li>
                                                <li><a href="shop-list-fw-2col.html">list 2 column  full wide</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">product details</a>
                                            <ul>
                                                <li><a href="product-details.html">tab style 1</a></li>
                                                <li><a href="product-details-2.html">tab style 2</a></li>
                                                <li><a href="product-details-3.html">tab style 3</a></li>
                                                <li><a href="product-details-4.html">sticky style</a></li>
                                                <li><a href="product-details-5.html">gallery style </a></li>
                                                <li><a href="product-details-slider-box.html">Slider style</a></li>
                                                <li><a href="product-details-affiliate.html">affiliate style</a></li>
                                                <li><a href="product-details-6.html">fixed image style </a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="shop.html">Collection</a></li>
                                <li><a href="#">Pages</a>
                                    <ul>
                                        <li><a href="about.html">about us</a></li>
                                        <li><a href="cart-page.html">cart page</a></li>
                                        <li><a href="checkout.html">checkout </a></li>
                                        <li><a href="wishlist.html">wishlist </a></li>
                                        <li><a href="my-account.html">my account</a></li>
                                        <li><a href="login-register.html">login / register </a></li>
                                        <li><a href="contact.html">contact us </a></li>
                                        <li><a href="404.html">404 page </a></li>
                                    </ul>
                                </li>
                                <li><a href="blog.html">Blog</a>
                                    <ul>
                                        <li><a href="blog.html">blog standard</a></li>
                                        <li><a href="blog-no-sidebar.html">blog no sidebar</a></li>
                                        <li><a href="blog-right-sidebar.html">blog right sidebar</a></li>
                                        <li><a href="blog-details.html">blog details 1</a></li>
                                        <li><a href="blog-details-2.html">blog details 2</a></li>
                                        <li><a href="blog-details-3.html">blog details 3</a></li>
                                    </ul>
                                </li>
                                <li><a href="about.html">About us</a></li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <div class="slider-area">
            <div class="slider-active-2 owl-carousel nav-style-2">
                <div class="slider-height-4 d-flex align-items-center bg-img" style="background-image:url(../../static/step1/img/slider/slider-3.jpg);">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                                <div class="slider-content-5 slider-animated-1 text-center">
                                    <h3 class="animated">New Arrival</h3>
                                    <h1 class="animated">Final Sale</h1>
                                    <p class="animated">30% off Summer Vacation</p>
                                    <div class="slider-btn-5 btn-hover">
                                        <a class="animated" href="shop.html">SHOP NOW</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slider-height-4 d-flex align-items-center bg-img" style="background-image:url(../../static/step1/img/slider/slider-4.jpg);">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                                <div class="slider-content-5 slider-animated-1 text-center">
                                    <h3 class="animated">New Arrival</h3>
                                    <h1 class="animated">Final Sale</h1>
                                    <p class="animated">30% off Summer Vacation</p>
                                    <div class="slider-btn-5 btn-hover">
                                        <a class="animated" href="shop.html">SHOP NOW</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-area hm5-section-padding pt-100 pb-100">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="product-wrap-3 mb-20 scroll-zoom">
                            <div class="product-img">
                                <a href="product-details.html"><img src="../../static/step1/img/product/hm5-pro-1.jpg" alt=""></a>
                                <span class="pink">-10%</span>
                                <div class="product-content-3-wrap">
                                    <div class="product-content-3">
                                        <div class="product-title">
                                            <h3><a href="product-details.html">Sheep Wool Sweater</a></h3>
                                        </div>
                                        <div class="price-3">
                                            <span>$ 40.00</span>
                                            <span class="old">$ 50.00</span>
                                        </div>
                                        <div class="product-action-3">
                                            <a title="Add To Cart" href="#"><i class="fa fa-shopping-cart"></i></a>
                                            <a title="Quick View" href="#" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-eye"></i></a>
                                            <a title="Compare" href="#"><i class="fa fa-retweet"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="product-wrap-3 mb-20 scroll-zoom">
                            <div class="product-img">
                                <a href="product-details.html"><img src="../../static/step1/img/product/hm5-pro-2.jpg" alt=""></a>
                                <div class="product-content-3-wrap">
                                    <div class="product-content-3">
                                        <div class="product-title">
                                            <h3><a href="product-details.html">Gray Backpack</a></h3>
                                        </div>
                                        <div class="price-3">
                                            <span>$ 40.00</span>
                                        </div>
                                        <div class="product-action-3">
                                            <a title="Add To Cart" href="#"><i class="fa fa-shopping-cart"></i></a>
                                            <a title="Quick View" href="#" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-eye"></i></a>
                                            <a title="Compare" href="#"><i class="fa fa-retweet"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="product-wrap-3 mb-20 scroll-zoom">
                            <div class="product-img">
                                <a href="product-details.html"><img src="../../static/step1/img/product/hm5-pro-3.jpg" alt=""></a>
                                <span class="purple">New</span>
                                <div class="product-content-3-wrap">
                                    <div class="product-content-3">
                                        <div class="product-title">
                                            <h3><a href="product-details.html">Waist Belt</a></h3>
                                        </div>
                                        <div class="price-3">
                                            <span>$ 40.00</span>
                                        </div>
                                        <div class="product-action-3">
                                            <a title="Add To Cart" href="#"><i class="fa fa-shopping-cart"></i></a>
                                            <a title="Quick View" href="#" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-eye"></i></a>
                                            <a title="Compare" href="#"><i class="fa fa-retweet"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="product-wrap-3 mb-20 scroll-zoom">
                            <div class="product-img">
                                <a href="product-details.html"><img src="../../static/step1/img/product/hm5-pro-4.jpg" alt=""></a>
                                <div class="product-content-3-wrap">
                                    <div class="product-content-3">
                                        <div class="product-title">
                                            <h3><a href="product-details.html">Timex Watch</a></h3>
                                        </div>
                                        <div class="price-3">
                                            <span>$ 40.00</span>
                                        </div>
                                        <div class="product-action-3">
                                            <a title="Add To Cart" href="#"><i class="fa fa-shopping-cart"></i></a>
                                            <a title="Quick View" href="#" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-eye"></i></a>
                                            <a title="Compare" href="#"><i class="fa fa-retweet"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="product-wrap-3 mb-20 scroll-zoom">
                            <div class="product-img">
                                <a href="product-details.html"><img src="../../static/step1/img/product/hm5-pro-5.jpg" alt=""></a>
                                <div class="product-content-3-wrap">
                                    <div class="product-content-3">
                                        <div class="product-title">
                                            <h3><a href="product-details.html">Puma Shoes For Men</a></h3>
                                        </div>
                                        <div class="price-3">
                                            <span>$ 40.00</span>
                                        </div>
                                        <div class="product-action-3">
                                            <a title="Add To Cart" href="#"><i class="fa fa-shopping-cart"></i></a>
                                            <a title="Quick View" href="#" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-eye"></i></a>
                                            <a title="Compare" href="#"><i class="fa fa-retweet"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="product-wrap-3 mb-20 scroll-zoom">
                            <div class="product-img">
                                <a href="product-details.html"><img src="../../static/step1/img/product/hm5-pro-6.jpg" alt=""></a>
                                <span class="purple">-20%</span>
                                <div class="product-content-3-wrap">
                                    <div class="product-content-3">
                                        <div class="product-title">
                                            <h3><a href="product-details.html">Jeans For Men</a></h3>
                                        </div>
                                        <div class="price-3">
                                            <span>$ 40.00</span>
                                            <span class="old">$ 50.00</span>
                                        </div>
                                        <div class="product-action-3">
                                            <a title="Add To Cart" href="#"><i class="fa fa-shopping-cart"></i></a>
                                            <a title="Quick View" href="#" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-eye"></i></a>
                                            <a title="Compare" href="#"><i class="fa fa-retweet"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="product-wrap-3 mb-20 scroll-zoom">
                            <div class="product-img">
                                <a href="product-details.html"><img src="../../static/step1/img/product/hm5-pro-7.jpg" alt=""></a>
                                <div class="product-content-3-wrap">
                                    <div class="product-content-3">
                                        <div class="product-title">
                                            <h3><a href="product-details.html">Wireless Headphone</a></h3>
                                        </div>
                                        <div class="price-3">
                                            <span>$ 40.00</span>
                                        </div>
                                        <div class="product-action-3">
                                            <a title="Add To Cart" href="#"><i class="fa fa-shopping-cart"></i></a>
                                            <a title="Quick View" href="#" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-eye"></i></a>
                                            <a title="Compare" href="#"><i class="fa fa-retweet"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="product-wrap-3 mb-20 scroll-zoom">
                            <div class="product-img">
                                <a href="product-details.html"><img src="../../static/step1/img/product/hm5-pro-8.jpg" alt=""></a>
                                <span class="purple">New</span>
                                <div class="product-content-3-wrap">
                                    <div class="product-content-3">
                                        <div class="product-title">
                                            <h3><a href="product-details.html">Sports Shoes</a></h3>
                                        </div>
                                        <div class="price-3">
                                            <span>$ 40.00</span>
                                        </div>
                                        <div class="product-action-3">
                                            <a title="Add To Cart" href="#"><i class="fa fa-shopping-cart"></i></a>
                                            <a title="Quick View" href="#" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-eye"></i></a>
                                            <a title="Compare" href="#"><i class="fa fa-retweet"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="product-wrap-3 mb-20 scroll-zoom">
                            <div class="product-img">
                                <a href="product-details.html"><img src="../../static/step1/img/product/hm5-pro-9.jpg" alt=""></a>
                                <div class="product-content-3-wrap">
                                    <div class="product-content-3">
                                        <div class="product-title">
                                            <h3><a href="product-details.html">Optical Instrument</a></h3>
                                        </div>
                                        <div class="price-3">
                                            <span>$ 40.00</span>
                                        </div>
                                        <div class="product-action-3">
                                            <a title="Add To Cart" href="#"><i class="fa fa-shopping-cart"></i></a>
                                            <a title="Quick View" href="#" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-eye"></i></a>
                                            <a title="Compare" href="#"><i class="fa fa-retweet"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="product-wrap-3 mb-20 scroll-zoom">
                            <div class="product-img">
                                <a href="product-details.html"><img src="../../static/step1/img/product/hm5-pro-10.jpg" alt=""></a>
                                <span class="purple">New</span>
                                <div class="product-content-3-wrap">
                                    <div class="product-content-3">
                                        <div class="product-title">
                                            <h3><a href="product-details.html">Panama Hat</a></h3>
                                        </div>
                                        <div class="price-3">
                                            <span>$ 40.00</span>
                                        </div>
                                        <div class="product-action-3">
                                            <a title="Add To Cart" href="#"><i class="fa fa-shopping-cart"></i></a>
                                            <a title="Quick View" href="#" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-eye"></i></a>
                                            <a title="Compare" href="#"><i class="fa fa-retweet"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="product-wrap-3 mb-20 scroll-zoom">
                            <div class="product-img">
                                <a href="product-details.html"><img src="../../static/step1/img/product/hm5-pro-11.jpg" alt=""></a>
                                <div class="product-content-3-wrap">
                                    <div class="product-content-3">
                                        <div class="product-title">
                                            <h3><a href="product-details.html">Sunflower Shoes</a></h3>
                                        </div>
                                        <div class="price-3">
                                            <span>$ 40.00</span>
                                        </div>
                                        <div class="product-action-3">
                                            <a title="Add To Cart" href="#"><i class="fa fa-shopping-cart"></i></a>
                                            <a title="Quick View" href="#" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-eye"></i></a>
                                            <a title="Compare" href="#"><i class="fa fa-retweet"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="product-wrap-3 mb-20 scroll-zoom">
                            <div class="product-img">
                                <a href="product-details.html"><img src="../../static/step1/img/product/hm5-pro-12.jpg" alt=""></a>
                                <span class="purple">-30%</span>
                                <div class="product-content-3-wrap">
                                    <div class="product-content-3">
                                        <div class="product-title">
                                            <h3><a href="product-details.html">Leather Crossbody Purse</a></h3>
                                        </div>
                                        <div class="price-3">
                                            <span>$ 40.00</span>
                                            <span class="old">$ 50.00</span>
                                        </div>
                                        <div class="product-action-3">
                                            <a title="Add To Cart" href="#"><i class="fa fa-shopping-cart"></i></a>
                                            <a title="Quick View" href="#" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-eye"></i></a>
                                            <a title="Compare" href="#"><i class="fa fa-retweet"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="subscribe-area-3 pb-100">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-5 col-lg-7 ml-auto mr-auto">
                        <div class="subscribe-style-3 text-center">
                            <h2>Subscribe </h2>
                            <p>Subscribe to our newsletter to receive news on update</p>
                            <div id="mc_embed_signup" class="subscribe-form-3 mt-35">
                                <form id="mc-embedded-subscribe-form" class="validate" novalidate="" target="_blank" name="mc-embedded-subscribe-form" method="post" action="http://devitems.us11.list-manage.com/subscribe/post?u=6bbb9b6f5827bd842d9640c82&amp;id=05d85f18ef">
                                    <div id="mc_embed_signup_scroll" class="mc-form">
                                        <input class="email" type="email" required="" placeholder="Your Email Address" name="EMAIL" value="">
                                        <div class="mc-news" aria-hidden="true">
                                            <input type="text" value="" tabindex="-1" name="b_6bbb9b6f5827bd842d9640c82_05d85f18ef">
                                        </div>
                                        <div class="clear-3">
                                            <input id="mc-embedded-subscribe" class="button" type="submit" name="subscribe" value="Subscribe">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer-area bg-black pt-80 pb-25">
            <div class="footer-top text-center">
                <div class="container">
                    <div class="footer-logo">
                        <a href="index.html">
                            <img alt="" src="../../static/step1/img/logo/logo-2.png">
                        </a>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim</p>
                    <div class="footer-social">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-bottom text-center">
                <div class="container">
                    <div class="copyright-2">
                        <p>© 2020 <a href="#">Flone</a> .All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>







<!-- JS
============================================ -->

<!-- jQuery JS -->
<script src="../../static/js/vendor/jquery-v3.4.1.min.js"></script>
<!-- Popper JS -->
<script src="../../static/js/popper.min.js"></script>
<!-- Bootstrap JS -->
<script src="../../static/js/bootstrap.min.js"></script>
<!-- Plugins JS -->
<script src="../../static/js/plugins.js"></script>
<!-- Ajax Mail -->
<script src="../../static/js/ajax-mail.js"></script>
<!-- Main JS -->
<script src="../../static/js/main.js"></script>

</body>

</html>