<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h1>login</h1>
     <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        Username:
        <br>
        <input name="username" type="text" required minlength="3" maxlength="10">
        <br>
        Password:
        <br>
        <input name="password" type="password" required minlength="4">
        <br><br>
        <input type="submit" class="btn btn-primary" value="sign up">

    </form>
</div>


{% endblock %}

</html>