{% extends 'base.html' %}
{% block title %}
main
{% endblock title %}

{% load static %}
{% block content %}

<div class="login-register-area pt-30 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 ml-auto mr-auto">
                <div class="login-register-wrapper">
                    <div class="login-register-tab-list nav">
                        <a href="{% url 'register' %}">
                            <h4> 회원가입 </h4>
                        </a>
                        <a class="active" data-toggle="tab" href="{% url 'login' %}">
                            <h4> 로그인 </h4>
                        </a>
                    </div>
                    <div class="tab-content">
                        <div id="lg1" class="tab-pane active">
                            <div class="login-form-container">
                                <div class="login-register-form">
                                    <form method="post" action="{% url 'login' %}">
                                        {% csrf_token %}
                                        {% for field in form %}
                                        <input type="{{ field.field.widget.input_type }}" name="{{field.name}}" placeholder="{{field.label}}">
                                        {% endfor %}
                                        <div class="button-box button-box-bold">
                                            <div class ="text-center">
                                                <button type="submit" style="font-weight: bold;"><span>로그인</span></button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
